In [ ]:
#CAR DATASET MINI PROJECT

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/car_price_dataset.csv.csv")

In [ ]:
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [ ]:
#1. What is the average price of all cars in the dataset?
average_price = df['Price'].mean()
print(f" Average Price of All Cars: ${average_price:.2f}")

 Average Price of All Cars: $8852.96

In [ ]:
# 2. Brand with the highest average price
highest_avg_price_brand = df.groupby('Brand')['Price'].mean().idxmax()
print(f" Brand with Highest Avg Price: {highest_avg_price_brand}")

 Brand with Highest Avg Price: Chevrolet

In [ ]:
# 3. Most common fuel type
most_common_fuel = df['Fuel_Type'].mode()[0]
print(f" Most Common Fuel Type: {most_common_fuel}")

 Most Common Fuel Type: Electric

In [ ]:
# 4. Number of cars with mileage greater than 200,000
high_mileage_count = df[df['Mileage'] > 200000].shape[0]
print(f" Number of cars with mileage greater than 200,000 : {high_mileage_count}")

 Number of cars with mileage greater than 200,000 : 3290

In [ ]:
# 5. Distribution of cars by transmission type
transmission_distribution = df['Transmission'].value_counts()
print(f" Distribution of cars by transmission type : {transmission_distribution}")

 Distribution of cars by transmission type : Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

In [ ]:
# 6. Car model with the highest price
highest_price_car = df.loc[df['Price'].idxmax(), ['Brand', 'Model', 'Price']]
print(f" Car model with the highest price: {highest_price_car}")

 Car model with the highest price: Brand     Toyota
Model    Corolla
Price      18301
Name: 1100, dtype: object

In [ ]:
# 7. Average price of cars by fuel type
avg_price_by_fuel = df.groupby('Fuel_Type')['Price'].mean()
print(f" Average price of cars by fuel type: {avg_price_by_fuel}")

 Average price of cars by fuel type: Fuel_Type
Diesel       8117.336385
Electric    10032.220190
Hybrid       9113.030167
Petrol       8070.561826
Name: Price, dtype: float64

In [ ]:
# 8. Cars from year 2020 or later
cars_2020_later_count = df[df['Year'] >= 2020].shape[0]
print(f" Cars from year 2020 or later are {cars_2020_later_count}")

 Cars from year 2020 or later are 1651

In [ ]:
# 9. Average engine size for each brand
avg_engine_size_by_brand = df.groupby('Brand')['Engine_Size'].mean()
print(f" Average engine size fro each brand: {avg_engine_size_by_brand}")

 Average engine size fro each brand: Brand
Audi          3.032948
BMW           2.976877
Chevrolet     2.993719
Ford          3.044275
Honda         2.925966
Hyundai       2.936683
Kia           3.053791
Mercedes      3.069745
Toyota        2.961443
Volkswagen    3.011078
Name: Engine_Size, dtype: float64

In [ ]:
# 10. Car with lowest mileage
lowest_mileage_car = df.loc[df['Mileage'].idxmin(), ['Brand', 'Model', 'Mileage']]
print(f" Lowest Mileage Car: {lowest_mileage_car.to_dict()}")

 Lowest Mileage Car: {'Brand': 'Ford', 'Model': 'Explorer', 'Mileage': 25}

In [ ]:
# 11. Correlation between mileage and price
mileage_price_correlation = df['Mileage'].corr(df['Price'])
print(f" Mileage vs Price Correlation: {mileage_price_correlation:.2f}")

 Mileage vs Price Correlation: -0.55

In [ ]:
# 12. Cars with more than 2 owners
more_than_2_owners_count = df[df['Owner_Count'] > 2].shape[0]
print(f" Cars with >2 Owners: {more_than_2_owners_count}")

 Cars with >2 Owners: 5944

In [ ]:
# 13. Average price of cars by year
avg_price_by_year = df.groupby('Year')['Price'].mean()
print(f" Avg price of cars by year is {avg_price_by_year}")

 Avg price of cars by year is Year
2000     5393.735369
2001     5904.064039
2002     5956.751082
2003     6225.834646
2004     6330.725888
2005     6943.037123
2006     7249.961446
2007     7632.513953
2008     7728.418848
2009     8083.917293
2010     8503.419954
2011     8622.855234
2012     9011.446224
2013     9114.208531
2014     9587.455635
2015     9896.774648
2016    10177.600000
2017    10343.757506
2018    10939.192941
2019    11132.722090
2020    11495.284337
2021    11637.813299
2022    12067.690176
2023    12169.470982
Name: Price, dtype: float64

In [ ]:
# 14. Car with the highest number of doors
most_doors_car = df.loc[df['Doors'].idxmax(), ['Brand', 'Model', 'Doors']]
print(f" Car with the highest number of doors is {most_doors_car}")

 Car with the highest number of doors is Brand    Volkswagen
Model          Golf
Doors             5
Name: 14, dtype: object

In [ ]:
# 15. Average mileage for each fuel type
avg_mileage_by_fuel = df.groupby('Fuel_Type')['Mileage'].mean()
print(f" Average mileage for each fuel type:{avg_mileage_by_fuel}")

 Average mileage for each fuel type:Fuel_Type
Diesel      150261.533041
Electric    151059.307429
Hybrid      145577.587036
Petrol      149917.694606
Name: Mileage, dtype: float64

In [ ]:
# 16. Number of cars from the brand 'Toyota'
toyota_count = df[df['Brand'] == 'Toyota'].shape[0]
print(f"Number of cars form the brand 'Toyota' :{toyota_count}")

Number of cars form the brand 'Toyota' :970

In [ ]:
# 17. Average price of cars with automatic transmission
avg_price_automatic = df[df['Transmission'] == 'Automatic']['Price'].mean()
print(f" Average price of cars with automatic transmission : {avg_price_automatic}")

 Average price of cars with automatic transmission : 9938.252939403075

In [ ]:
# 18. Car with the highest owner count
highest_owner_count_car = df.loc[df['Owner_Count'].idxmax(), ['Brand', 'Model', 'Owner_Count']]
print(f" Car with the highest owner count{highest_owner_count_car}")

 Car with the highest owner countBrand          Kia
Model          Rio
Owner_Count      5
Name: 0, dtype: object

In [ ]:
# 19. Average engine size for diesel cars
avg_engine_size_diesel = df[df['Fuel_Type'] == 'Diesel']['Engine_Size'].mean()
print(f" Average engine size for diesel cars is {avg_engine_size_diesel}")

 Average engine size for diesel cars is 3.011863057324841

In [ ]:
# 20. Cars with price greater than $10,000
cars_price_above_10k_count = df[df['Price'] > 10000].shape[0]
print(f" Cars with price greater than $10,000 : {cars_price_above_10k_count}")

 Cars with price greater than $10,000 : 3651